@font-face {
    font-family: Poppins;
    src: url(/assets/font/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: Poppins, sans-serif;
}